@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 100%;
}

.content{
	width: 100%;
	float: left;
}

.footer{
	height: 5em;
}

.sidebar{
	width: 12%;
	height: 100vh;
	float: left;
}

.page_content{
	width: 86%;
	height: 100vh;
	background-color: white;
	float: left;
	padding-left:250px;
}
.footer{
	background-color: #FFF0F0;
}